* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: Helvetica, Verdana, sans-serif;
}

body {
  align-items: center;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.grid-layout {
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.flex {
  display: flex;
}

/* Search section*/
.search-wrapper {
  justify-content: center;
  align-items: center;
}

.search-input,
.search-btn {
  font-size: 1rem;
  padding: 0.5rem 0.25rem;
  border: none;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.current-weather-icon-wrapper,
.current-conditions-wrapper,
.current-descriptions-wrapper,
.current-temperature-wrapper {
  align-items: center;
}

.current-weather-icon-wrapper {
  justify-content: center;

  & > img {
    width: 95%;
  }
}

.current-conditions-wrapper {
  grid-column: 2 / span 4;
}

.current-descriptions-wrapper {
  grid-column: 6 / 9;
}

.current-temperature {
  font-size: 4rem;
  margin: 0 0.8rem;
}

.weather-units {
  font-size: 1rem;
  margin-top: 0.7rem;
}

.fahrenheit-link {
  color: #fff;
  padding-right: 0.3rem;
  border-right: solid 1px gray;
}

.celsius-link {
  padding-left: 0.3rem;
}
